.button-play {
    width: 150px;
    height: 150px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    position: relative;
}

#triangle-right {
   

    border-top: 40px solid transparent;
    border-left: 60px solid black;
    border-bottom: 40px solid transparent;
}

#circle {

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 150px;
    height: 150px;
    background: rgb(237, 229, 229);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 75px;
}