body {
    margin: 0;
}

/*Всегда пишем:*/
html {
    box-sizing: border-box;
}

/*Всегда пишем:*/
*,
*::before,
*::after {
    box-sizing: inherit;
}

/*Всегда пишем:*/
.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    /*задавливание футера вниз*/
    display: flex;
    /*задавливание футера вниз*/
    flex-direction: column;
    /*задавливание футера вниз*/
}

/*Всегда пишем:*/
.container {
    max-width: 1330px;
    /*компенсация паддингов по 15рх*/
    padding: 0 15px;
    margin: 0 auto;
}

/*Всегда пишем:*/
img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

/*Всегда пишем:*/
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.section-skills {
    padding: 100px 0 70px;
}

.section-skills .row {
    display: flex;
    align-items: center;
    margin: 0 -15px;
}

.section-skills .col {
    width: 50%;
    padding: 0 15px;
}

.skill-holder .section-title {
    margin: 0 0 50px;
    font-size: 32px;
    line-height: 1.15;
}

.skill-list {
    max-width: 445px;
    width: 100%;
}

.skill-item {
    margin-bottom: 30px;
}

.skill-item:last-child {
    margin-bottom: 0;
}

.skill-title {
    font-size: 16px;
    line-height: 1.6;
    display: inline-block;
    margin-bottom: 20px;
    color: #727272;
}

.skill-loader {
    position: relative;
    height: 4px;
    background: #c4c4c4;
}

.skill-load {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #34547A;
}

.col-img {
    background-position: center;
    background-size: cover;
    padding-top: 81%;
}

.my-work-text {
    margin: auto;
    text-align: center;
    max-width: 40%;
}

.my-work-video {
    display: flex;
    justify-items: center;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    margin: auto;
    max-width: 60%;
    padding: 25px 0 55px 0;
    vertical-align: middle;

    z-index: 1;
}

.button-play {
    width: 100px;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    vertical-align: middle;
    
    z-index: 3;
}

#triangle-right {
    border-top: 20px solid transparent;
    border-left: 30px solid black;
    border-bottom: 20px solid transparent;
}

#circle {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 60px;
    height: 60px;
    background: rgb(237, 229, 229);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding-bottom: 50px;
}

.section-gallery {
    width: 100%;
    background-color: #727272;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;

}

.gallery-item {
    display: block;
    height: 100px;
    width: 25%;
    padding-top: 25%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.gallery-item:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(52, 84, 122, 0.8);

}

.gallery-item:after {
    content: '';
    height: 58px;
    width: 100px;
    background: url('img/eye.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery-item:before,
.gallery-item:after {
    opacity: 0;
    visibility: hidden;
}

.gallery-item:hover:before,
.gallery-item:hover:after {
    transition: opacity .3s ease-in-out;
    opacity: 1;
    visibility: visible;
}