body {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    background-color: yellow;
    padding: 20px 0;
    position: relative;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.burger {
    opacity: 0;
    position: absolute;
    left: -9999999px;
}

.opener {
    position: relative;
    height: 15px;
    width: 20px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .opener {
        display: none;
    }
}

.opener::before,
.opener::after,
.opener span {
    position: absolute;
    height: 3px;
    background: #000;
    left: 0;
    right: 0;
}

.opener::before,
.opener::after {
    content: '';
}

.opener::before {
    top: 0;
}

.opener::after {
    bottom: 0;
}

.opener span {
    top: 16px;
}

.nav-list {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: yellow;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}

.burger:checked~.nav-list {
    transition: opacity .3s ease-in-out;
    opacity: 1;
    visibility: visible;
}

.nav-item {
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .nav-list {
        position: static;
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }

    .nav-item {
        margin-bottom: 0;
    }

    .nav-item+.nav-item {
        padding-left: 15px;
    }
}

.nav-link {
    color: #000;
}

.nav-link:hover {
    opacity: .7;
}

.main {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    text-align: center;
    flex: 0 0 210px;
    padding: 20px;
}

.sidebar-left {
    background-color: violet;
    order: -1;
}

.sidebar-right {
    background-color: skyblue;

}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .sidebar-left {
        display: none;
    }

    .sidebar-right {
        display: none;
    }

    .col {
        width: 33.333%;
        padding: 0 15px 30px;
        min-width: 175px;
    }


}

.content {
    padding: 20px;
    flex-grow: inherit;
    width: calc(100% - 420px);
}

.content p {
    text-align: center;
}

.title {
    text-align: center;
    text-transform: uppercase;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    justify-content: space-around;
}

.col {
    display: flex;
    flex-wrap: wrap;
    width: 33.333%;
    padding: 0 15px 30px;
    min-width: 150px;
}

.card {
    border: 1px solid grey;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    position: relative;
    justify-content: center;

    min-width: 150px;
}

.card:hover {
    border: 1px solid rgb(166, 147, 4);

}

.card-img {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin: 0 auto 15px;
    border-radius: 50%;
    border: 10px solid rgb(163, 107, 4);
    background-color: peru;
}

.card-title a {
    text-decoration: none;
    color: black;
}

.card-body p {
    padding-bottom: 20px;
}



.card-footer {
    position: absolute;
    bottom: 10px;
    align-self: center;
    margin: auto auto;
    width: 100%;
    left: 0px;

}

.btn {
    display: inline-block;
    padding-top: 4px;
    height: 27px;
    width: 50px;
    color: white;
    border-radius: 30px;
    background-color: rgb(85, 32, 118);
}

.btn:hover {
    transform: scale(1.1);
    transition: .8s, border .8s;

}

.footer {
    padding: 20px;
    background: lightgreen;
    text-align: center;
}

.holder {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    height: 100px;
    width: 300px;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    padding: 0;
}