body {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

.nav-sidebar {
position: absolute;
top: 0;
left: -225px;
bottom: 0;
background: grey;
width: 250px;
padding: 20px;
}

.nav-sidebar:hover {
  transition: all 1s ease-in-out;
  left: 0;
}

.nav-list {
  list-style: none;
}

.nav-item::before{ 
  content: "";
  border-color: black;
  border-width: 0.1px;
  border-style: solid;
  height: 8px;
  width: 8px;
  background-color: orange;
  display: inline-block;
  position: relative;
  transform: rotate(45deg) translate(0,-50%);


}

.nav-link {

}
.here{
  margin-left: calc(100% - 0px);
  text-align-last: right;
  writing-mode: vertical-rl;
}
.nav-sidebar:hover span{
  opacity: 0;
  transition: all 1s;
}
